<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="/js/recycler_dashboard.js" async></script>
    <link rel="stylesheet" href="/css/dashboard.css" />
    <title>Smart Waste Management</title>
</head>

<body>
    {{!-- {{>header}} --}}
    <div class="greet">Hello {{name}}</div>

    <hr />

    <br />

    <div class="accepted-requests-label">Accepted Requests</div>
    <table class="accepted-requests">
        <tr class="table-headings">
            <th>Order I.D.</th>
            <th>Waste Type</th>
            <th>Waste Quantity</th>
            <th>Pickup Time</th>
            <th>Producer ID</th>
            <th>Location</th>
            <th>Execute Order</th>
            {{! <th>Map</th> }}
        </tr>
        {{#each accepted_requests}}
        <tr class="accepted-request">
            <td>{{this.order_id}}</td>
            <td>{{this.waste_type}}</td>
            <td>{{this.waste_quantity}}</td>
            <td>{{this.pickup_date}}</td>
            <td>{{this.recycler_id}}</td>
            <td id={{this.order_id}}>{{this.north_coordinate}}N,{{this.east_coordinate}}E</td>
            <td>
                <a href="/recycler/order/execute/{{this.order_id}}">
                    <input type="button" class="action" id="execute" value="Execute">
                </a>
            </td>
            {{! <td></td> }}
            {{!-- <td>
                <div id="map{{this.order_id}}"></div>
            </td> --}}
        </tr>
        {{/each}}
    </table>

    <br />

    <hr />

    <br />

    <div class="available-requests-label">Available Requests</div>
    <table class="available-requests">
        <tr class="table-headings">
            <th>Order I.D.</th>
            <th>Waste Type</th>
            <th>Waste Quantity</th>
            <th>Pickup Time Requested</th>
            <th>Location</th>
            <th>Accept</th>
        </tr>

        {{#each available_requests}}
        <tr class="available-request">
            <td>{{this.order_id}}</td>
            <td>{{this.waste_type}}</td>
            <td>{{this.waste_quantity}}</td>
            <td>{{this.pickup_date}}</td>
            <td id={{this.order_id}}>{{this.north_coordinate}}
                N,
                {{this.east_coordinate}}
                E</td>
            <td>
                <a href="/recycler/order/accept/{{this.order_id}}">
                    <input type="button" class="action" id="accept" value="Accept" />
                </a>
            </td>
        </tr>
        {{/each}}

    </table>

    <br />

    <hr />

    <a href="/recycler/logout"><input type="button" value="logout" class="logout-btn" id="logout" /></a>
    {{!-- {{>footer}} --}}
</body>

</html>